<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="{{ url_for('predict')}}" method="post">
            <input class="form-input" type="text" name="age" placeholder="Enter Your Age" >
            <br>
            <input class="form-input" type="text" name="sex" placeholder="1 for Male ; 0 for Female">
            <br>
            <input class="form-input" type="text" name="cp" placeholder="cp" >
            <br>
            <input class="form-input" type="text" name="trtbps" placeholder="trtbps" >
            <br>
            <input class="form-input" type="text" name="chol" placeholder="chol" >
            <br>
            <input class="form-input" type="text" name="fbs" placeholder="fbs" >
            <br>
            <input class="form-input" type="text" name="restecg" placeholder="restecg" >
            <br>
            <input class="form-input" type="text" name="thalachh" placeholder="thalachh" >
            <br>
            <input class="form-input" type="text" name="exng" placeholder="exng" >
            <br>
            <input class="form-input" type="text" name="oldpeak" placeholder="oldpeak" >
            <br>
            <input class="form-input" type="text" name="slp" placeholder="slp" >
            <br>
            <input class="form-input" type="text" name="caa" placeholder="caa" >
            <br>
            <input class="form-input" type="text" name="thall" placeholder="thall" >
            <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            

    
        </form>

        <br>

        {{prediction_text}}
    </div>
    
</body>
</html>